<h4>Summernote Editor</h4><br>
<textarea id="summernote" [innerHTML]="editorContent" class="previous" disabled></textarea>
<p id="demo"></p>
<br>
<button (click)="copyContent()" class="btn btn-primary">Copy content</button><br>
<br>
<button (click)="copyContentwithSourceCode()" class="btn btn-primary">Copy with Sourcecode</button>
<br><br>


<form [formGroup]="nameForm" (ngSubmit)="ChangeContentInSummernote()">
        <div>
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" formControlName="firstname">
        </div>
        <div>
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" formControlName="lastname">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!-- <form >
    <table>
        <tr>
            <td>FirstName :</td>
            <td>
                <input type="text" name="firstname" id="firstname" >
            </td>
        </tr>
        <tr>
          <td>LastName :</td>
          <td>
              <input type="text"  name="lastname" id="lastname">
          </td>
      </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
               
                <button type="submit" value="SAVE" class="btn btn-primary" (click)="ChangeContentInSummernote()">SAVE</button>
                <br><br>
            </td>
        </tr>
    </table>
    </form> -->