<div class="register-container">
    <h1>ALL TEMPLATES</h1>
</div>
    <br>

    <table class="table">
        <thead>
        <tr>
                <th>ID</th>
                <th>Template</th>
                <th>SelectTemplate</th>
        </tr>
        </thead>
        <tbody>
                <tr *ngFor="let Item of data">
                    <td>{{Item.id}}</td>
                    <td [innerHTML]="Item.templates"></td>
                    <!-- <td><p id="eachtemplate"></p></td> -->
                    <td>
                        <button type="button" class="btn btn-success" (click)="redirectToDestination(Item.id)">Select</button>
                    </td>
                    <!-- <p>Hello</p>
                    <p id="eachtemplate"></p> -->

                </tr>
        </tbody>
    
    </table>

<p id="eachtemplate"></p>

<!-- <div *ngFor="let item of CSStemplates">
<p>{{ CSStemplates[i] }}</p>
</div> -->
<ng-container *ngFor="let i of [0, 1, 2];">
    <p id="eachtemplate">{{ CSStemplates[i] }}</p>
    <!-- <div> {{ CSStemplates[i] }} </div> -->
  </ng-container>
  
