.register-container{
    font-family: "Times New Roman", Times, serif;
    display:flex;
}
#CreateFromScratch{
    height:40px;
    margin-left:8%;
    margin-top: 2%;
}
h1 {
    padding-left: 10%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
table {
    padding-left: 5%;
    padding-right: 7%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.TemplateSelection{
    padding-left: 3%;
}
#professionalbtn{
    margin-left: 3%;
}
#friendlybtn{
    margin-left: 3%;
}
#modernbtn{
    margin-left: 3%;
}
#elegantbtn{
    margin-left: 3%;
}
#creativebtn{
    margin-left: 3%;
}
.grid-container {
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
 margin-left: 2%;
}
  
  
.grid-item {
    border: 1px solid black;
    padding: 10px;
     height: 280px;
    width: 450px; 
}