.register-container{
    font-family: "Times New Roman", Times, serif;
}

h1 {
    padding-left: 10%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
table {
    padding-left: 5%;
    padding-right: 7%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.TemplateSelection{
    padding-left: 3%;
}
#professionalbtn{
    margin-left: 3%;
}
#friendlybtn{
    margin-left: 3%;
}
#modernbtn{
    margin-left: 3%;
}
#elegantbtn{
    margin-left: 3%;
}
#creativebtn{
    margin-left: 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* adjust the number of columns as needed */
    grid-gap: 20px; /* adjust the gap between cells as needed */
  }

  .grid-item {
    border: 1px solid #ccc; /* add borders to cells */
    padding: 10px;
  }