<div class="register-container">
    <h1>ALL TEMPLATES</h1>
</div>
    <br>

    <table class="table">
        <thead>
        <tr>
                <th>ID</th>
                <th>Template</th>
                <th>Original Template</th>
                <th>SelectTemplate</th>
        </tr>
        </thead>
        <tbody>
                <tr *ngFor="let Item of data">
                    <td>{{Item.id}}</td>
                    <td [innerHtml]="Item.templates | safe: 'html'"></td>
                    <td [innerHtml]="Item.originalTemplates | safe: 'html'"></td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="redirectToDestination(Item.id)">Select</button>
                    </td>
                    <!-- <td>{{ Item.templates }}</td> -->

                </tr>
        </tbody>
    
    </table>



  <!-- <div [innerHtml]="htmlSnippet | safe: 'html'"></div> -->

