<br>
<h2>QuillJS Integration with Angular</h2>
  <div class="container">
    <div class="row pt-5">
        <div class="col-md-8">
                <!-- <form [formGroup]="quillForm" (click)="Onsubmit()"> -->
                    <form [formGroup]="quillForm" >
                <div class="form-group">
                    <label for="editor"><h3>Editor</h3></label>

                    <quill-editor [style]="editorStyle" formControlName="editor" (onEditorChanged)="changeEditor($event)"></quill-editor>
                </div>
               <br>
               <button (click)="copyContent()" class="btn btn-primary">Copy content</button><br>
               <br>
                <button (click)="copyContentwithSourceCode()" class="btn btn-primary">Copy with Sourcecode</button>
                <br><br>
                
            </form>
        </div>
        <div class="col-md-4 bg-white p-4 border">
            <h3>Output</h3>
            <p class="my-5" [innerHTML]="contentgiven"></p>
           
        </div>
    </div>
  </div>
