<div class="nav">
    <ul>
      <li ><a routerLink="parent">Home</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="login">Login</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="register">Register</a></li>  
      <li [routerLinkActive]="'active'"><a routerLink="both">Summernote Editor</a></li>
    </ul>
    
</div>
 
<button (click)="logOut()">Logout</button>
<div>
  <!-- <p>Hello</p> -->
  {{ Username }}
</div> 
<!-- <img [src]="imageUrl" alt="My Image" width="100" height="100"> -->
<router-outlet></router-outlet>



