<h4>Summernote Editor</h4><br>
<textarea id="summernote" [innerHTML]="editorContent" class="previous" disabled></textarea>
<p id="demo"></p>
<br>
<button (click)="copyContent()" class="btn btn-primary">Copy content</button><br>
<br>
<button (click)="copyContentwithSourceCode()" class="btn btn-primary">Copy with Sourcecode</button>
<br><br>


<!-- <form [formGroup]="nameForm" (ngSubmit)="ChangeContentInSummernote()">
        <div>
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" formControlName="firstname">
        </div>
        <div>
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" formControlName="lastname">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form [formGroup]="form">
    <div formArrayName="values">
      <div *ngFor="let control of valueControls; let i = index">
        <label for="value{{i}}">{{ Names[i] }} : &nbsp; </label>
        <input type="text" [formControlName]="i" id="value{{i}}" (change)="onValueChange(i, control.value, i)">
      </div>
    </div>
  </form>

